.developers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  outline: 1px solid transparent;
  border-radius: 4px;

  &:hover,
  &:active {
    color: var(--accent);
  }

  &:focus-visible {
    color: var(--accent);
    outline-color: var(--accent);
  }
}
